<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.portfolio.delivery.user.dao.UserDAO">
	<!-- 회원가입 -->
	<insert id="insertUser" parameterType="map">
		INSERT INTO
			`user`
		(
			`loginId`
			, `password`
			, `name`
			, `phone`
			, `email`
			, `nickName`
			, `grade`
			, `createdAt`
			, `updatedAt`
		)
		VALUE
		(
			#{loginId}
			, #{password}
			, #{name}
			, #{phone}
			, #{email}
			, #{nickName}
			, #{grade}
			, now()
			, now()
		)
	</insert>
	
	<!-- user 회원가입시 정보 중복 여부 -->
	<select id="selectSameUser" parameterType="map" resultType="int">
		SELECT
			count(1)
		FROM
			`user`
		WHERE
			(`name` = #{name} AND `phone` = #{phone})
		OR
			(`name` = #{name} AND `email` = #{email})
	</select>
	
	<!-- user 아이디 중복여부 -->
	<select id="selectSameId" parameterType="string" resultType="int">
		SELECT
			count(1)
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
	</select>
	
	<!-- user 로그인 -->
	<select id="selectUser" parameterType="map" resultType="com.portfolio.delivery.user.model.User">
		SELECT
			`id`
			, `loginId`
			, `password`
			, `name`
			, `phone`
			, `email`
			, `nickName`
			, `grade`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId} AND `password` = #{password}
	</select>
	
	<!-- user 이름과 번호로 id 찾기 -->
	<select id="selectUserIDByPhone" parameterType="map" resultType="String">
		SELECT
			`loginId`
		FROM
			`user`
		WHERE
			`name` = #{name} AND `phone` = #{phone}
	</select>
	
	<!-- user 이름과 메일로 id 찾기 -->
	<select id="selectUserIDByEmail" parameterType="map" resultType="String">
		SELECT
			`loginId`
		FROM
			`user`
		WHERE
			`name` = #{name} AND `email` = #{email}
	</select>
	
	<!-- 이름과 전화번호를 통해 비번 리셋 -->
	<select id="selectUserPWByPhone" parameterType="map" resultType="com.portfolio.delivery.user.model.User">
		SELECT
			`id`
			, `loginId`
			, `password`
			, `name`
			, `phone`
			, `email`
			, `nickName`
			, `grade`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`name` = #{name} AND `phone` = #{phone}
	</select>
	
	<!-- 이름과 전화번호를 통해 비번 리셋 -->
	<select id="selectUserPWByEmail" parameterType="map" resultType="com.portfolio.delivery.user.model.User">
		SELECT
			`id`
			, `loginId`
			, `password`
			, `name`
			, `phone`
			, `email`
			, `nickName`
			, `grade`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`name` = #{name} AND `email` = #{email}
	</select>
	
	<!-- 비밀번호 리셋한 후 update -->
	<update id="updatedUserPW" parameterType="map">
		UPDATE
			`user`
		SET
			`password` = #{newPW}
		WHERE
			`id` = #{userId}
	</update>
</mapper>