@charset "UTF-8";

#wrap{
	width: 400px;
	min-height: 700px;
	margin: 0 auto;
}

header{
	font-family: 'Dongle', sans-serif;
}

#gradeInfoBtn{
  position: relative;
  top:40px;
  left:280px;
  background-color: white;
  text-decoration: underline;
}

#gradeInfoBtnModal{
	position: fixed;
	top: 0px;
}

#profileImgBtn{
	background-color: white;
}

#orderDetailsBtnModal{
	width: 350px;
	height: 500px;
	position: fixed;
	top: 80px;
	left: 39%;
}

#amount{
	border-top-width: 0;
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-color: dark;
}

#amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.storeCatBtn{
	background-color: #ffffff;
	width: 80px;
	height: 80px;
	text-align: center;
}

ul{
	height: 50px;
	white-space: nowrap; 
	overflow-x: auto;
}

.footerBtn{
	background-color: #ffffff;
	width: 60px;
	height: 60px;
	text-align: center;
}

footer{
	width: 400px;
	margin: 0 auto;
	position : relative;
  	transform : translateY(-100%);
}