@charset "UTF-8";

#wrap{
	width: 400px;
	min-height: 700px;
	margin: 0 auto;
}

#header{
	width: 400px;
	height: 50px;
	font-family: 'Dongle', sans-serif;
}

#gradeInfoBtn{
  position: relative;
  top:40px;
  left:280px;
  background-color: white;
  text-decoration: underline;
}

#gradeInfoBtnModal{
	position: fixed;
	top: 0px;
}

#profileImgBtn{
	background-color: white;
}

#orderDetailsBtnModal{
	width: 350px;
	height: 500px;
	position: fixed;
	top: 80px;
	left: 39%;
}
